@font-face {
  font-family: 'Coolvetica';
  src: url('/fonts/Coolvetica.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Normal_Bold';
  src: url('/fonts/Normal_Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Normal';
  src: url('/fonts/Normal.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

html, body {
  background-color: #18181B;   /* match your site's bg */
}

.hero_text {
  font-family: 'Coolvetica', sans-serif;
}

.normal_bold {
  font-family: 'Normal_Bold', sans-serif;
}

.normal {
  font-family: 'Normal', sans-serif;
}

* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

*::-webkit-scrollbar {
  display: none;
}

@import "tailwindcss";