@import "tailwindcss";

@font-face {
  font-family: 'HighEmpathy';
  src: url('/fonts/High Empathy.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Moderniz';
  src: url('/fonts/Moderniz.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'StretchPro';
  src: url('/fonts/StretchPro.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Coolvetica';
  src: url('/fonts/Coolvetica Rg.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Classyvogue';
  src: url('/fonts/Classyvogueregular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GrandeItalic';
  src: url('/fonts/Grande Italic.ttf');
  font-weight: normal;
  font-style: normal;
}

#background {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

#background canvas {
  z-index: -10;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.coolvetica{
  font-family: Coolvetica;
}

.mainName{
  font-family: HighEmpathy;
}

.header{
  font-family: Moderniz;
}

.contactme{
  font-family: StretchPro;
}

.classyVogue{
  font-family: Classyvogue;
}

.grandeItalic{
  font-family: GrandeItalic;
}